%br
.large-6.columns
	%h3 Search Users
	= form_tag search_users_path, method: "get" do
		= label_tag "user_name"
		= text_field_tag "search[user_name]"
		%br
		= submit_tag "search"



.large-6.columns
	%table
		%th
		%th name 
		%th score 
		- @search_results.each do |u|
			%tr
				%td
					= image_tag u.avatar.url ,:style => "max-width: 50px"
				%td	
					= u.user_name
				%td
					= u.total_score
				%td
					= link_to "Follow", friendships_path(:friend_id => u), :method => :post