%br
.row
		
	/ Sidebar
	.large-3.columns
		
		
		%h1
			= @user.user_name
		
			= image_tag @user.avatar.url ,:style => "max-width: 300px"

		%h2 Scores
		%table.table-bordered
			%th today
			%th week
			%th month
			%th year
			%th total
			%tr 
				%td
					= @user.attempts.this_day.sum(:attempt_score)
				%td
					= @user.attempts.this_week.sum(:attempt_score)
				%td
					= @user.attempts.this_month.sum(:attempt_score)
				%td
					= @user.attempts.this_year.sum(:attempt_score)
				%td
					=  @user.attempts.sum(:attempt_score)
			


		


		%h2	Following
		-if current_user.id == @user.id
			=link_to "(add friends)" , users_path



		.panel
			-@user.friends.each do |f|

				%span.has-tip{"data-tooltip" => "", title: "#{f.user_name}"} 
					= link_to "#{image_tag(f.avatar.url(:thumb))}".html_safe, user_path(f)

	.large-8.columns
		%div{"data-magellan-expedition" => "fixed"}
			%dl.sub-nav
				%dd{"data-magellan-arrival" => "about"}
					%a{href: "#about"} About
				%dd{"data-magellan-arrival" => "attempts"}
					%a{href: "#attempts"} Attempts
				%dd{"data-magellan-arrival" => "charts"}
					%a{href: "#charts"} Charts
		%br

		%a{name: "about"}
		%h3{"data-magellan-destination" => "about"} About
		.panel
			%p 
				=@user.description
		%a{name: "attempts"}
		%h3{"data-magellan-destination" => "attempts"} Latest Attempts
		.panel
			%p
				- if current_user.id == @user.id
					=link_to "(add a new attempt)", new_attempt_path
					=link_to "(view all your attempts)", attempts_path
				%table
					%th date
					%th score
					%th route
					%th grade
					%th completed
					%th flash
					- @user.attempts.last(10).reverse.each do |f|
						%tr
							%td
								=formatted_date(f.date_attempted)
							%td
								=f.attempt_score
							
							%td
								-if f.route
									=link_to "#{f.route.name}", route_path(f.route.id)
									
								-else
									route not found
							%td
								-if f.route
									=f.route.grade.name
							%td
								=f.completed
							%td
								=f.flash
		
		%a{name: "charts"}
		%h3{"data-magellan-destination" => "charts"} Charts & Info
		.panel
			
			
			= pie_chart(@grade_names)
			%p
				grade of routes climbed
			
			
			= line_chart @user.attempts.group_by_day(:date_attempted , range: 1.weeks.ago.midnight..Time.now).count
			%p
				number of routes climbed this week

			= bar_chart(@tag_names)
			%p
				routes climbed are descriped as

			
			


				


