.row
	.large-12
		%fieldset
			%legend
				New Post

			= form_for @new_post, url: posts_path, method: :post do |f|
				= f.hidden_field :user_id, :value => session[:user_id]
				= f.hidden_field :post_date, :value => Date.today
				%label Title
				
				= f.text_field :title
	
				%label Post
			
				= f.text_area :post
				
				= f.submit "Post", class:"button"


