
%br

.row
	.large-9.columns
		%h1 
			= @route.name
		= link_to "edit | ", edit_route_path
		= link_to "delete", route_path, :method => "delete"
		%hr
		%h4 
			= @route.info
		
	
		
		%hr
		%h5 Comments
		
		- @route.comments.each do |f|
			-if f.user
				.div{class:"label"}
					= f.user.user_name
				says:
				%br
				= f.content
				%hr
		%h6 Add a comment:
		= form_for @new_comment, url: comments_path, method: :post do |f|
			= f.hidden_field :commentable_id, value: @new_comment.commentable_id 
			= f.hidden_field :commentable_type, value: @new_comment.commentable_type
			= f.hidden_field :user_id, :value => current_user.id
			comment:
			%br
			= f.text_area :content
			= f.submit "submit", class: "button"
	.large-3.columns
		%h3 About


		%p
		%h4
			grade:
			= @route.grade.name
		
		
		%br
		%h4 
		rating:

		=@route.ratings.average(:rating)
	
		
		- if @route.ratings.where('user_id = ?', current_user.id) == 1
			you already rated this!
			/ = form_for @new_rating, url: rating_path do |f|
			/ 	= f.hidden_field :user_id, :value => current_user.id
			/ 	= f.hidden_field :route_id, :value => @route.id
			/ 	= f.select :rating, options_for_select([[0, 0],[1, 1],[2,2],[3,3],[4,4],[5,5]]) 
			/ 	= f.submit "rate" , class:"button"
		- else
			= form_for @new_rating, url: ratings_path do |f|
				= f.hidden_field :user_id, :value => current_user.id
				= f.hidden_field :route_id, :value => @route.id
				= f.select :rating, options_for_select([[0, 0],[1, 1],[2,2],[3,3],[4,4],[5,5]]) 
				= f.submit "rate" , class:"button"
				
		%br
		
			


		%br
		%p
			User tagged this route as:
			-@route.tags.each do |f|
				-if f.name
					.label
						=f.name

		= form_for @new_tag, url: tags_path, method: :post do |f|
			= hidden_field_tag :route_id, @route.id
			add tag:
			%br
			= f.text_area :name
			= f.submit "submit" , class: "button tiny"
			%br

