%h1
	= @route.name


%p

	= @route.grade.name

	

= link_to "edit this route", edit_route_path
= link_to "delete this route", route_path, :method => "delete"


.row
	.small-11.small-centered-columns
		%h6 Comments
		%hr
		-@route.comments.each do |f|
			-if f.user
				.div{class:"label"}
					=f.user.user_name
				says:
				%br
				=f.content
				%hr
		%h6 Add a comment:
		= form_for @new_comment, url: comments_path, method: :post do |f|
			
			=f.hidden_field :commentable_id, value: @new_comment.commentable_id 
			=f.hidden_field :commentable_type, value: @new_comment.commentable_type
			=f.hidden_field :user_id, :value => current_user.id
			comment:
			%br
			= f.text_area :content
			=f.submit "submit", class: "button"

