= form_for @new_attempt, url: attempts_path do |f|
	
	
	= f.hidden_field :user_id, :value => session[:user_id]
	= f.label :date_attempted
	= f.date_field :date_attempted
	Route
	= f.select :route_id, Route.all.collect {|u| ["#{u.name}, #{u.grade.name}", u.id]}

	%br
	=f.label :flash
	=f.check_box :flash
	%br
	=f.label :completed
	=f.check_box :completed

	=f.label :notes
	=f.text_area :notes

	=f.submit