%label name
= f.text_field :name
%label address
= f.text_area :address
%label rock type
= f.text_field :rock_type
%label description
= f. text_area :description
%label camping?
= f.check_box :camping
%br
= f.submit "submit", class:"button"