
.row
	.large-12.columns	
		%h1 Locations
		-if current_user
			-if current_user.role_id == 2
				%p
					= link_to "add a location" , new_location_path
				%br
		= form_tag locations_path, :method => :get do
			%fieldset
				%legend 
					Search for locations near:
				%label location
				= text_field_tag :search, params[:search]
				%label distance from: (in miles)
				= text_field_tag :distance, params[:distance], :value => 50
				= submit_tag "Search", :name => nil, class:"button"

		%table#locations.display
			%thead
				%tr
					%th name
					%th address
					%th camping
					%th rock type
					%th distance
			%tbody
				-@locations.each do |l|
					%tr
						%td
							= link_to "#{l.name}" , location_path(l)
						%td
							= l.address
						%td
							= l.camping
						%td
							= l.rock_type
						%td	
							- if @all == false
								= l.distance.round(2)
			


