!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%title= content_for?(:title) ? yield(:title) : "Boulder"
		= stylesheet_link_tag    "application"
		= javascript_include_tag "vendor/modernizr"
		= csrf_meta_tags
	%body

		
		
		%nav.top-bar{"data-topbar" => ""}
			%ul.title-area
				%li.name
					%h1
						%a{:href => "/posts"} ClimbTracker
				/ Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
				%li.toggle-topbar.menu-icon
					%a{:href => "#"}
						%span Menu
			%section.top-bar-section
				/ Right Nav Section
				%ul.right
					%li.active
						%a{:href => "#"}

							- if current_user
								= link_to "#{current_user.user_name}", user_path(current_user)
					%li.has-dropdown
						%a{:href => "#"} Menu
						%ul.dropdown
							%li
								%a{:href => "/routes"} Routes
							%li
								%a{:href => "/users"} Users
							%li
								%a{:href => "/locations"} Locations
							- if current_user.present?
								%li
									%a{:href => "/attempts"} My Attempts
								%li= link_to "Edit Profile", edit_user_registration_path
								%li
									- if current_user.role_id == 2
										%li
											%label admin
											%label/
										%li
											%a{:href => "/locations/new"} Add Location
										%li
											%a{:href => "/posts/new"} Add a new Post
				%ul.left
					%li
						- if current_user
							= link_to "Log out", destroy_user_session_path, :method => :delete
						- else
							/ = link_to "Log in", new_user_session_path
							%a{"data-reveal-id" => "myModal", :href => "#"} Log in

		#myModal.reveal-modal{"data-reveal" => ""}
			%h2 Log in
			= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
				%div
					= f.label :email
					%br/
					= f.email_field :email, autofocus: true
				%div
					= f.label :password
					%br/
					= f.password_field :password, autocomplete: "off"
				- if devise_mapping.rememberable?
					%div
						= f.check_box :remember_me
						= f.label :remember_me
				%div= f.submit "Log in", class:"button"
			= render "devise/shared/links"
			%a.close-reveal-modal ×


		= javascript_include_tag "//www.google.com/jsapi", "chartkick"
		- if flash[:notice]
			.notice= flash[:notice]
		= yield
		/ DataTables CSS
		%link{:href => "/DataTables-1.10.0/css/jquery.dataTables.css", :rel => "stylesheet", :type => "text/css"}/
		/ jQuery
		%script{:charset => "utf8", :src => "/DataTables-1.10.0/js/jquery.js", :type => "text/javascript"}
		/ DataTables
		%script{:charset => "utf8", :src => "/DataTables-1.10.0/js/jquery.dataTables.js", :type => "text/javascript"}
		= javascript_include_tag "application"